set default=0
set timeout=10

menuentry "SpawnOS" {
  linux /live/vmlinuz boot=live components splash quiet apparmor=1 security=apparmor net.ifnames=0 --
  initrd /live/initrd.img
}

menuentry "SpawnOS (Amnesic — no persistence)" {
  linux /live/vmlinuz boot=live components splash quiet apparmor=1 security=apparmor nopersistence net.ifnames=0 --
  initrd /live/initrd.img
}

menuentry "SpawnOS (Failsafe)" {
  linux /live/vmlinuz boot=live components nomodeset noapic noacpi nosplash --
  initrd /live/initrd.img
}
